
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

</head>
<body>
    <header>
        <h1>ASCII Forum</h1>
        <h2>#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#</h2>
        {% if user.is_authenticated and author %}
            <h4>Добро пожаловать, {{ author.name }}!</h4>
        {% endif %}
        <div class="navbar">
            <nav class="navigation">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{% url 'home' %}">Главная</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'update' %}">Обновить профиль</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Выйти</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Зарегистрироваться</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {%  endblock content %}

    <footer>
        <br>
        <br>

        <h2>#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#%%#</h2>
        <span>&copy; &nbsp; Трепаченко Тимофей | Все права защищены, бла-бла-бла...</span>
    </footer>

</body>
</html>