{% extends 'base.html' %}

{% block content %}
        
    <div class="container">
        <h3>###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###</h3>
        <div class="description">
            <h4>
                <i>
                ASCII Forum – это место, где люди могут общаться быстро и свободно, где можно иметь любую точку зрения
                и оспаривать чужую. Все форумы имеют свою чётко ограниченную тематику. Всё, что не запрещено правилами
                отдельно взятого форума или относится к его тематике, на этом форуме разрешено.
                </i>
            </h4>
        </div>
        <h3>###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###*###</h3>
        <form action="{% url 'search_result' %}" role="form" method="GET">
            <div class="search-box">
                <span>-----#=</span>
                <select name="" id="">
                    <option value="everything">Всё</option>
                    <option value="title">Название</option>
                    <option value="description">Описание</option>
                </select>
                <input type="text" name="q" id="" placeholder="Поиск...">
                <span>=#-----</span>
                <br>
                <br>
                <span>----->>></span>
                <button type="submit" name="search">Найти</button>
                <span><<<-----</span>
            </div>
        </form>

        <br>

        <div class="forums">
            <p><b>|----------------------------------------------------|</b></p>
            <p><b>| Доска | Название | Описание | Постов |</b></p>
            <p><b>|----------|--------------|---------------|-----------|</b></p>

            {% for forum in forums %}
                <div class="forum">
                    <a class="forum-board" href="{{ forum.get_url }}">| {{ forum.board }} | </a>
                    <span class="forum-title">{{ forum.title }} | </span>
                    <span class="forum-description">{{ forum.description }} | </span>
                    <span class="forum-treds">{{ forum.num_treds }} |</span>
                    <br>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}