{% extends 'base.html' %}

{% block content %}
    
    <div class="container">
        <h3>=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=//</h3>
        <a href="{{ tred.category.get_url }}"><h1 class="board-name">{{ tred.category.title }}</h1></a>
        <h3>=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=//</h3>

        <br>
        <br>

        <div class="tred">
            <div class="tred-head">
                {% if tred.started_by.avatar %}
                    <img class="tred-started-by-avatar" src="{{ tred.started_by.avatar.url }}">
                {% endif %}
                <span class="tred-started-by">{{ tred.started_by.name }} | </span>
                <span class="tred-date">{{ tred.date }} | </span>
                <span class="tred-replies">Ответов: {{ tred.num_comments }}</span>
            </div>
            <div class="tred-body">
                <h3 class="tred-title">{{ tred.title }}</h3>
                {% if tred.image %}
                    <img class="tred-image" src="{{ tred.image.url }}">
                {% endif %}
                {{ tred.content|safe }}
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="comment-area">
                    <textarea name="comment" placeholder="Комментарий..."></textarea>
                    <input type="file" name="comment-image" accept="image/*">
                    <input type="submit" name="comment-form">
                </div>
            </form>
        </div>

        <br>
        <br>

        {% for comment in tred.comments.all %}
            <div class="comment">
                <div class="comment-head">
                    {% if comment.created_by.avatar %}
                        <img class="comment-created-by-avatar" src="{{ comment.created_by.avatar.url }}">
                    {% endif %}
                    <span class="comment-created-by">{{ comment.created_by.name }} | </span>
                    <span class="comment-date">{{ comment.date }} | </span>
                    <span class="comment-replies">Ответов: {{ comment.num_replies }} | </span>
                </div>
                <br>
                <br>
                <div class="comment-body">
                    {% if comment.image %}
                        <img class="tred-image" src="{{ comment.image.url }}">
                    {% endif %}
                    {{ comment.content|safe }}
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="reply-area">
                        <textarea name="reply" placeholder="Комментарий..."></textarea>
                        <input type="file" name="reply-image" accept="image/*">
                        <input type="submit" name="reply-form">
                        <input type="hidden" name="comment-id" value="{{ comment.id }}">
                    </div>
                </form>

                <br>
                <br>

            </div>

            {% for reply in comment.replies.all %}
                <div class="reply">
                    <div class="reply-head">
                        <div class="reply-to"><span>Ответ: {{ comment.created_by.name }}</span></div>
                        <br>
                        {% if reply.created_by.avatar %}
                            <img class="reply-created-by-avatar" src="{{ reply.created_by.avatar.url }}">
                        {% endif %}
                        <span class="reply-created-by">{{ reply.created_by.name }} | </span>
                        <span class="reply-date">{{ reply.date }} | </span>
                    </div>
                    <br>
                    <br>
                    <div class="reply-body">
                        {% if reply.image %}
                            <img class="tred-image" src="{{ reply.image.url }}">
                        {% endif %}
                        {{ reply.content|safe }}
                    </div>

                    <br>
                    <br>
                </div>
            {% endfor %}
        {% endfor %}

    </div>

{% endblock content %}