{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h3>=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=//</h3>
        <a><h1 class="board-name">Поиск: {{ query }} | Результатов найдено: {{ objects|length }}</h1></a>
        <h3>=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=//</h3>

        <br>
        <br>

        {% for tred in objects %}
            <div class="treds">
                <div class="tred">
                    <div class="tred-head">
                        {% if tred.started_by.avatar %}
                            <img class="tred-started-by-avatar" src="{{ tred.started_by.avatar.url }}">
                        {% endif %}
                        <a class="tred-started-by">{{ tred.started_by.name }} | </a>
                        <span class="tred-date">{{ tred.date }} | </span>
                        <span class="tred-replies">Ответов: {{ tred.num_comments }}</span>
                    </div>
                    <div class="tred-body">
                        <a class="tred-title" href="{{ tred.get_url }}"><h3>{{ tred.title }}</h3></a>
                        {% if tred.image %}
                            <img class="tred-image" src="{{ tred.image.url }}">
                        {% endif %}
                        {{ tred.content|safe }}
                    </div>

                    <br>
                    <br>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock content %}