{% extends 'base.html' %}

{% block content %}
    
    <div class="container">
        <h3>=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=//</h3>
        <a><h1 class="board-name">Название доски</h1></a>

        <br>

        <a onclick="showTredComment()" href=""><h3>Создать тред</h3></a>

        <div class="comment-area hide" id="tred-area">
            <textarea name="comment" placeholder="Комментарий"></textarea>
            <input type="submit">
        </div>

        <h3>=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=//</h3>

        <br>
        <br>

        <div class="treds">
            <div class="tred">
                <div class="tred-head">
                    <span class="tred-started-by">Автор</span>
                    <span class="tred-data">Дата</span>
                    <span class="tred-replies">Ответы</span>
                    <a href="" class="tred-reply">Ответ</a>
                </div>
                <div class="tred-body">
                    <h3 class="tred-title">Название</h3>
                    <p class="tred-description">Описание</p>
                </div>

                <br>
            </div>
        </div>
    </div>

{% endblock content %}